body {
    height: 2500px;
    overflow-x: hidden;
}

.bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;              
  justify-content: center;
  align-items: center;
  overflow: hidden;          
}

#bg {
  max-width: none;            
  height: 100vh;              
  transform-origin: center 33%;
  will-change: transform;
}

#screen {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hi-wrapper {
    position: fixed;
    top: -20vh;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    display: flex;                
}

#hi {         
    height: 60vh;              
    transform-origin: center top;
}

.window-wrapper {
    position: fixed;
    top: 28vh;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    display: flex;  
}

#window {
    height: 50vh;
    transform-origin: center top;
}

.extender-wrapper {
    position: fixed;
    top: 44vh;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    display: flex;  
}

#extend {
    height: 34vh;
    transform-origin: center top;
}

.logo-wrapper {
    position: fixed;
    top: 37.5vh;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    display: flex;  
}

#logo {
    height: 28vh;
    transform-origin: center top;
}
